
.btnSave{
  color:rgb(11, 207, 86);
}
.btnSave:hover{
  color:#fff;
  background-color:rgb(11, 207, 86);
}

.btnEdit{
  color: #6610f2;
}
.btnEdit:hover{
  color:#fff;
  background-color: #6610f2;
}

.btnRemove{
  color:rgb(207, 37, 11);
}
.btnRemove:hover{
  color:#fff;
  background-color: rgb(207, 37, 11);
}

.btnLogOut{
  color:#6610f2;
}
.btnLogOut:hover{
  color:#fff;
  color:#6610f2;
}